* { box-sizing: border-box; }

body {
  margin: 0;
  background: #121212;
  color: white;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 40px;
}

.btn {
  background: #4a6cff;
  padding: 14px 22px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: .3s;
}

.btn:hover {
  background: #6e88ff;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #1e1e1e;
  color: white;
  margin-top: 10px;
}

.chat-box {
  height: 430px;
  overflow-y: auto;
  background: #1b1b1b;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.msg-user {
  background: #4a6cff;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  width: fit-content;
  max-width: 80%;
  align-self: flex-end;
}

.msg-bot {
  background: #272727;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 80%;
  width: fit-content;
}
